.btn-icon-green:after{
    background-color: green;
}
.btn-icon-red:after{
    background-color: #C31825;
}
.btn-icon-blue:after{
    background-color: #1362B7;
}
.btn-icon-wendyblue:after{
    background-color: #356395;
}
.text-green{
    color: green;
}
.text-red{
    color: #C31825;
}
.text-blue{
    color: #1362B7;
}
.text-wendyblue{
    color: #356395;
}
.text-white{
    color: white;
}
.text-green-background{
    background-color: green;
}
.text-blue-background{
    background-color: #1362B7;
}
.text-wendyblue-background{
    background-color: #356395;
}