:root{
    --mfont:10px;
    --iconSize:14px;
    --iconMargin:-7px;
    --inputHeight:26px;
    --inputLineHeight:18px;
    --HeaderFooterHeight:34px;
}
.ui-page, .ui-header, .ui-content, .ui-footer, .ui-btn, .ui-title, .ui-select, .ui-controlgroup, .ui-controlgroup-controls, .ui-li-divider .ui-li-count{
    font-size: var(--mfont); /* Set the desired font size */
  }
  .ui-listview > .ui-li-divider{
    font-size: var(--mfont);
  }
  .ui-header-fixed, .ui-footer-fixed{
    height:var(--HeaderFooterHeight);
    line-height: calc( var(--HeaderFooterHeight) / 2 );
  }
  .ui-header .ui-btn, .ui-header .ui-btn-left, .ui-footer .ui-btn, .ui-mini .ui-btn{
    font-size: var(--mfont);
  }
  .ui-btn-icon-notext{
    font-size: var(--mfont);
    width:var(--iconSize);
    height:var(--iconSize);
  }
  .ui-btn-icon-notext::after{
    left:50%;
    top:50%;
    margin-left: var(--iconMargin);
    margin-top: var(--iconMargin);
  }
  a::after, button::after{
    background-size: var(--mfont) !important;
    width:var(--iconSize);
    height:var(--iconSize);
    margin-top: var(--iconMargin);
  }
  a, button{
    font-size: var(--mfont);
  }
  .ui-btn-icon-notext::after, .ui-btn-icon-left::after, .ui-btn-icon-right::after, .ui-btn.ui-checkbox-off::after, .ui-btn.ui-checkbox-on::after {
    top: 50%;
    margin-top: var(--iconMargin);
    background-size: var(--mfont) !important;
    width:var(--iconSize);
    height:var(--iconSize);
  }

.ui-mobile label{
    font-size: var(--mfont);
}
.ui-input-text{
    font-size: var(--mfont);
}
.ui-input-text::not(.controlgroup-textinput){
    height: var(--inputHeight);
}
.ui-input-text input, .ui-input-search input{
    line-height: var(--inputLineHeight);
}
.ui-checkbox{
    margin:0;
}
.ui-checkbox input{
    width:var(--iconSize);
    height:var(--iconSize);
    margin-top:  var(--iconMargin);
}
.tooltip-serarch {
    visibility: hidden;
    font-size: var(--mfont);
    min-width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;

    top: 50%;
    left: -45%;
    margin-left: 60px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
  }
.ui-tooltip{
    visibility: hidden;
    font-size: var(--mfont);
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    margin-top: 10px;
    top: 50%;
    left: -45%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
    text-shadow: none;
}
#username{
    text-align: right;
    margin-right: 0px;
    font-size: var(--mfont);
}
#mainFooter .ui-controlgroup {
    margin-top:0px;

}
#main-header{
    overflow:hidden;
    background: white;
    color:#333;
    text-shadow: none;
    border:none;
    border-bottom: 2px solid orangered;
    height:80px;
}
#main_nav ul li button{
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    height:60px;
}
#main_nav ul li button{
    font-size: 20px;
}
.tab-active div{
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
}
.tab-active::after{
    background-color: #1362B7;
}
.fixedHeader{
    overflow:hidden;background: #262626;color:white;text-shadow: none;padding:0px;
}
.ui-content{
    border: none;
}
.navbar{
    background: #262626;
    text-align: center;
    vertical-align: middle;
    width:100%;
    margin:0px;
    border: none;
}
.nav-but{
    height:50px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
.nav-but::after {
    background-size: 20px !important;
    border-radius: 16px;
    width: 32px !important;
    height: 32px !important;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: -15px;
    text-align: center;
}
.hide{
    display: none;
}

#main-container{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background: whitesmoke;
    z-index: 1002;
    text-align: center;
    vertical-align: middle;
    
}
#main-container .loading_logo_title{
	text-align: center; /*让div内部文字居中*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.grid2Column{
    display:grid;
    grid-template-columns: auto auto;
}
/* page1  */

#pone_fun_buts{
    top:195px;
    left:15px;
    position: absolute;
}
#searchbar1{
    margin-top: 0px;
    margin-left:210px;
    margin-right:80px;
}

.pag{
    font-size: 16px;
}
/* page1  */

/* page2  */
#pageSecondTable{
    margin: 10px 10px;
    width:100%;
}
#pageSecondTable tbody tr td{
    text-align: left;
    vertical-align:middle;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    
}
#pageSecondTable thead tr th{
    text-align: left;
    vertical-align: middle;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
/* page2  */

/* page4  */
ui-collapsible.collapsible-listview .ui-btn{
    background-color: white !important;
    box-shadow: none;
}
.ui-collapsible.collapsible-listview{
    border:none;
    box-shadow: none;
}
.ui-li-count{
    color:white;
    background: black;
}
/* page4  */

.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
    background: white;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}
.progress_lock{
    z-index: 99;
    margin-right:10px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.ui-but-lock-edit:after{
    background-size: 20px !important;
    border-radius: 16px;
    width: 32px !important;
    height: 32px !important;
    left:9px;
    top:8px;
}
.edit-lock{
    margin-right: 10px;
    margin-top:-10px;
    margin-bottom:-10px;
    background-color: #1362B7;
    padding:2px;
    border-radius: 16px;
}
.fa-background{
    margin-right: 10px;
    margin-top:-10px;
    margin-bottom:-10px;
    padding:3px;
    border-radius: 16px;
}
#main-header{
    overflow:hidden;
    background: white;
    color:#333;
    text-shadow: none;
    border:none;
    border-bottom: 2px solid orangered;
}
#main-header .header-search-container{
    margin-right:10px;
    margin-top:15px;
}
.header-search-bar{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left:20px;
    width:250px;
    
    position: absolute;
    top: 15px; 
}

.header-search-container {
    position: relative;
    display: inline-block;
  }


.btn-tooltip{

}
.header-search-container:hover .tooltip-serarch {
    visibility: visible;
    opacity: 1;
  }
  [name^="fn_btn_"]:hover .tooltip-serarch {
    visibility: visible;
    opacity: 1;
  }
  .header-filter-from{
    margin:0px 10px;
  }
  .ui-btn-right{
    position: absolute;
    top:2px;
  }
  .header-filter-container{
    position: fixed;
    background: white;
    color:#333;
    top:0;
    left:0;
    width: calc(100% - 0px);
    text-shadow: none;
    padding: 0px 0px;
    z-index: 102;
    height:auto;
  }
  .header-filter-container-div{
    background: white;
    color:#333;
    width: 100%;
    text-shadow: none;
    padding: 0px 0px;
    z-index: 102;
  }
  #main-body{
    padding:0px;
    overflow: hidden;
  }

/* 主表格 */
#pageOneTable{
    margin: 0px 0px 0px 0px;
    width:100%;
    overflow: hidden;
}

#pageOneTable tbody tr td{
    text-align: center;
    vertical-align: middle;
    max-width: 160px;
    min-width: 25px;
    border-right: 1px solid rgba(0,0,0,.05);

}
#pageOneTable thead tr th{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid rgba(0,0,0,.05);
    min-width: 25px;
 
}
#pageOneTable-fixed{
    margin: 0px 0px;
    color:#333;
    text-shadow: none;
    width: 100%;
    border-top: 2px solid orangered;
}
#pageOneTable-fixed th{

  text-align: center;
    vertical-align: middle;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

    background: white;
    color:#333;
    border-right:1px solid lightgray;
    min-width: 25px;
}
.table-regularFont{
    font-size: 12px;
}
.table-regularFont tbody tr td{
    font-size: 12px;
}
.table-regularFont thead tr th{
    font-size: 12px;
}
.table-regularFont label{
    font-size: 12px;
}

.table-regularFont input.reg-checkbox{
    font-size: 12px;
    top:-5px;
}
.table-regularFont input.reg-checkbox-all{
    font-size: 12px;
    top:-2px;
}
.table-regularFont tbody tr td div button:after{
    
    margin: auto;
    transform: translate(-50%,-50%);
}

.table-smallFont{
    font-size: 8px;
}
.table-smallFont tbody tr td{
    font-size: 8px;
    max-width: 150px;
}
.table-smallFont thead tr th{
    font-size: 8px;
}
.table-smallFont label{
    font-size: 8px;
}

.table-smallFont input{
    font-size: 8px;
}
.table-smallFont .reg-checkbox{
    font-size: 8px;
    width:14px;
    top:-4px;
}
.table-smallFont .reg-checkbox-all{
    font-size: 8px;
    width:14px;
    top:-1px;
}
.table-smallFont select{
    font-size: 8px;
}
.table-smallFont tbody tr td div{
    font-size: 8px;
}
.table-smallFont tbody tr td div a:after{
    background-size: 8px;
    width: 16px;
    height: 16px;
    margin: auto;
    transform: translate(-50%,-50%);
}
.table-smallFont tbody tr td div button:after{
    background-size: 8px;
    width: 16px;
    height: 16px;
    margin: auto;
    transform: translate(-50%,-50%);
}
.table-column-toggle{
    text-align: right;
}
.table-column-toggle:hover{
    cursor: pointer;
    color:aqua;
    font-size: 12px;
    padding:0px 4px;
}
.table-smallFont label.ui-checkbox-off::after{
    width:12px;
    height:12px;
    margin-top:-7px;
    background-size: 8px;
}
.table-smallFont label.ui-checkbox-on::after{
    width:12px;
    height:12px;
    margin-top:-7px;
    background-size: 8px;
}
.table-smallFont label.ui-checkbox-on.ui-btn-icon-left{
    padding-left: 3em;
}
.table-smallFont label.ui-checkbox-off.ui-btn-icon-left{
    padding-left: 3em;
}
.item-inActived{
    color:white;
    background-color: orangered;
    text-shadow: none;
}
.filterable-select-listbox{
    background: white;
}
.filterable-select-option {
    background-color: #f6f6f6; /* 设置背景颜色 */

    color:#333
  }
  .filterable-select-option li.ui-first-child{
  }
  
  .filterable-select-option li{
  }
  .filterable-select-option input{
    border-color:gray;
  }
  .filterable-select-option a{
    color:#333;

  }
  .filterable-select-option a:hover{
    color:white;
    background-color: #1362B7;
    text-shadow: none;
  }
  .footer-info-bar{
    position: absolute;
    transform: translateX(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .logo-image{
    animation: blink 6s infinite;
  }
  @keyframes blink{
    10%{
        opacity: 1;
    }50%{
        opacity: 0.1;
    }
    90% {
      opacity: 1;
    }
  }
  .orangeRed-border-bottom{
    border-bottom: 2px solid orangered;
  }
  #pageOneTableselect-page{
    padding-right:0px;
  }
  #pageOneTableselect-page::after{
    display:none;
  }
  .table-stripe tbody tr:nth-child(2n+1):not(.inactived-row){
    background-color: rgba(255, 255, 255, 0.974);
  }