.stepPoint{
  position: absolute;
  z-index: 12;
  background-color: lightgray;
  transform:translate(-50%,-50%);
  text-align: center;
font-weight: 700;
border-color: lightgray;
}
.stepLine{
  position: absolute;
  z-index: 10;
  background-color: lightgray;
  transform:translate(0%,-50%);
}

.foregroundStepLine{
  position: absolute;
  z-index: 11;
  background-color: blue;
  transform:translate(0%,-50%);
}
.stepPoint span{
  color:gray;
  text-shadow: none;
  position: absolute;
  z-index: 21;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.setpPoint-actived{
  background-color: #1362B7;
  border-color: #1362B7;
  cursor:pointer;
}
.setpPoint-actived-white{
  color: white;
  background-color: #1362B7;
  border-color: #1362B7;
  cursor:pointer;
}
.setpPoint-actived-white.stepPoint-selectable span{
  color: white;
  cursor:pointer;
}
.setpPoint-actived.stepPoint-selectable span{
  cursor:pointer;
}
.stepPoint-selectable{
  
  cursor:pointer;
}
.stepPoint-selectable span{
  color:#333;
  cursor:pointer;
}
.counter-indicator{
  z-index: 23;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
}
.activated-counter-color{
  background: orangered;
  color:white;
}
.deactivated-counter-color{
  background: gray;
  color:white;
}
.event-lead-line{
  position: absolute;
  border-left:2px dashed #1362B7;
  border-top:none;
  border-bottom: none;
  border-right: none;
  left:50%;
  transform:translate(-50%,0%);
}
.event-box{
  position: absolute;
  left:50%;
  transform:translate(-50%,0%);
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
}
.progress_point{
  position: absolute;
  color:white;
  z-index: 10;
  cursor: pointer;
}
.actived_point{
  background-color:#356395;
}
.deactived_point{
  background-color:lightgray;
}
.progress_point span{
  position: absolute;
  text-align: center;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  text-shadow: none;
  font-weight: 700;
}
.progress_path{
  position: absolute;
  z-index: 1;
}
.progress_point_shadow{
  
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
}

.progress_num_indicator{
  background-color: orangered;
  color:white;
  position: absolute;
text-align: center;
vertical-align: middle;
filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
}